.header{
    background-color: var(--primary);
    padding: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 0.95em;
}

.header svg{
    vertical-align: middle;
    margin-right: 12px;
    height: 100%;
}
.header-search{
    margin: 0;
    flex: 1;
    top: 0;
    padding: 4px 6px;
    margin-right: 12px;
    border-radius: 2px;
    border: 0;
}

.header__text-btn{
    height: 100%;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}


.header__text-btn span{
    display: inline-block;
    margin: 4px 0px 4px 8px;
}

.header__text-btn::after{
    padding-left: 12px;
    content: "";
    border-right: 1px solid var(--primary-dark);
}

.header__text-btn:hover{
    background-color: var(--primary-dark);
}

.header__text-btn img{
    height: 25px;
    vertical-align: middle;
}