.page-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    overflow: auto;
    flex-direction: row;
}

.news-feed {
    width: 550px;
    min-width: 550px;
    z-index: 100;
}

.side-pane {
    position: fixed;
    width: 200px;
    margin-top: 12px;
}

.side-pane-wrapper {
    position: relative;
    width: 200px;
    min-width: 200px;
    overflow: hidden;
}

.side-pane-tab {
    width: 100%;
    border-radius: 4px;
    margin: 1px;
    border: 1px solid transparent;
    padding: 4px;
    font-size: 0.95em;
    -webkit-user-select: none;
}

.side-pane-tab img {
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

.side-pane-tab--active, .side-pane-tab:hover {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}

.side-pane-tab--active {
    font-weight: bold;
}

.side-pane-tab-header{
    font-weight: 700;
    color: rgb(88, 88, 88);
    margin: 6px;
}

.secondary-pane{
    width: 300px;
    position: fixed;
    margin-top: 12px;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.075);
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--divider);
}

.secondary-pane-wrapper{
    width:300px;
}

.secondary-pane-header{
    font-weight: 700;
    color: grey;
    margin-bottom: 4px;
}
