:root{
  --primary: #4267b2;
  --primary-dark: #3b5ca0;
  --icon-color: #fff;
  --icon-secondary: #fff;
  --background: #e9ebee;
  --text-primary: #385898;
  --divider: #cfcfcf;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9em;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

.spacer{
  flex: 1;
}
*:focus{
  outline: 0;
}